.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}
.loader h1  {
  color: #072f5f;;
}

.loader .loaderImage {
  max-width: 300px;
  width: 100%;
}
