.repos {
  display: flex;
  flex-direction: row;
  gap: 36px;
  justify-content: center;
  min-height: 100vh;
  height: 100%;
  width: 100%;
}
.repos .content {
  padding: 37px 50px;
  background: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  max-width: 1041px;
  width: 100%;
}
.repos .content .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 148px;
  /* position: fixed; */
}

.repos .content .header span {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.repos .content .header span h2 {
  font-weight: 700;
  font-size: 24px;
  color: #072f5f;
}

.repos .content .header .search {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 7px;
  padding: 9px 10px;
  border: 1px solid #072f5f;
  border-radius: 5px;
  background: #ffffff;
  color: #072f5f;
}

.repos .content .header .search input {
  border: none;
  outline: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
}

.repos .content .repoList {
  margin-top: 57px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 36px;
}

.repos .content .pageNumbers {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 2rem;
  align-items: center;
  justify-content: center;
}

.repos .content .pageNumbers li {
  padding: 10px;
  border: 1px solid #072f5f;
  border-radius: 5px;
  cursor: pointer;
  color: #072f5f;
}
.repos .content .pageNumbers li:hover {
  background-color: #072f5f;
  color: rgb(255, 255, 255);
}

.repos .content .pageNumbers li.active {
  background-color: #072f5f;
  color: rgb(255, 255, 255);
}

.repos .content .pageNumbers li span {
  border: none;
  font-size: 20px;
  cursor: pointer;
}
.repos .content .pageNumbers li span:hover {
  color: #fff;
}

@media screen and (max-width: 768px) {
  .repos .content .repoList {
    gap: 10px;
  }
  .repos .content .header {
    flex-direction: column;
    justify-content: end;
    gap: 20px;
    margin-top: -20px;
    align-items: flex-end;
  }
}
@media screen and (max-width: 550px) {
  .repos .content {
    /* justify-content: center; */
    /* align-items: center; */
      padding: 1rem;
  }
  .repos .content .header {
    flex-direction: column;
    justify-content: end;
    gap: 20px;
    margin-top: 40px;
    align-items: flex-end;
  }
  .repos .content .header span h2 {
    font-size: 18px;
  }
  .repos .content .header .search {
    padding: 8px;
    /* font-size: 13px; */
  }
  .repos .content .header .search input {
    font-size: 13px;
  }
  .repos .content .repoList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .repos .content .pageNumbers li {
    padding: 5px;
    font-size: 12px;
    border-radius: 4px;
  }
  .repos .content .pageNumbers li span {
    font-size: 16px;
  }
}
