/* Error Page */
.error {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}
.error-page {
  width: 100%;
  margin-top: 100px;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.error-page button {
  text-align: center;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: #072f5f;
  background-color: #fff;
  font-size: 24px;
  font-weight: 600;
  cursor: pointer;
}
.error-page button:hover {
  padding: 15px;
  color: #fff;
  background-color: #072f5f;
}

@media screen and (max-width: 550px) {
  .error-page {
    margin-top: 200px;
    width: 100%;
    max-width: 400px;
    height: 100%;
  }

  .error-page button {
    font-size: 14px;
  }
}
