* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  /* background: #15161b; */
}

body {
  padding: 36px;
  background-color: #011b3b;
  /* color: #fff; */
  background-image: url("../src/assets/Ornament.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.scale-up-center {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
a {
  text-decoration: none;
}
ul li {
  list-style: none;
}
@media screen and (max-width: 768px) {
  body {
    padding: 2rem;
    background: #ffffff;
  }
}
@media screen and (max-width: 550px) {
  body {
    padding: 0;
    background: #ffffff;
  }
}
